<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<bean id="cinderSf"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="cinderDataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.c3p0.min_size">${cinder.hibernate.c3p0.min_size}</prop>
				<prop key="hibernate.c3p0.max_size">${cinder.hibernate.c3p0.max_size}</prop>
				<prop key="hibernate.c3p0.timeout">${cinder.hibernate.c3p0.timeout}</prop>
				<prop key="hibernate.c3p0.max_statements">${cinder.hibernate.c3p0.max_statements}</prop>
				<prop key="hibernate.dialect">${cinder.hibernate.dialect}</prop>
				<prop key="hibernate.max_fetch_depth">${cinder.hibernate.max_fetch_depth}</prop>
				<prop key="hibernate.default_batch_fetch_size">${cinder.hibernate.default_batch_fetch_size}</prop>
				<prop key="hibernate.id.new_generator_mappings">${cinder.hibernate.id.new_generator_mappings}</prop>

				<prop key="hibernate.hbm2ddl.auto">${cinder.hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.show_sql">${cinder.hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${cinder.hibernate.format_sql}</prop>
			</props>

		</property>
		<property name="eventListeners">
			<map>
				<entry key="pre-insert">
					<list>
						<ref bean="entityHasTimeStampListener" />
						<ref bean="PasswordPersistenceEventListener" />
					</list>
				</entry>

				<entry key="pre-update">
					<list>
						<ref bean="PasswordPersistenceEventListener" />
					</list>
				</entry>
			</map>
		</property>
		<property name="packagesToScan">
			<list>
				<value>xdata.etl.cinder.shared.entity</value>
				<value>xdata.etl.cinder.hbasemeta.shared.entity</value>
				<value>xdata.etl.cinder.logmodelmeta.shared.entity</value>
			</list>
		</property>

	</bean>

	<bean id="PasswordPersistenceEventListener"
		class="xdata.etl.cinder.common.hibernate.listener.PasswordPersistenceEventListener">
		<property name="passwordEncryptor" ref="SimplePasswordEncryptor"></property>
	</bean>

</beans>
